/* .dashboard-menu {
    color: #ffffff;
    background-color: #212529 !important;
  }
  
  .dashboard-menu h4 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .dashboard-menu a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .dashboard-menu a:hover {
    color: #ffffff;
    background-color: #343a40;
  }
  
  .dashboard-menu a.active {
    color: #ffffff;
    background-color: #343a40;
  }
   */
  